.editPostFormPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    margin-top: 7rem;
    padding: 20px;
    border: 1px solid rgb(206, 195, 195);
    background-color:  white;
    border-radius: 4px;
  }

  .innerEditPostFormPageContainer {
    width: 90%;
    margin: auto;
    height: 90%;
  }

  .editPostFormContainer {
    display: flex;
    padding: 12px;
    margin-top: 5rem;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 50%;
  }

  .editFormTitle {
    font-size: 18px;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    border-bottom: .5 solid cornsilk ;
  }

  .innerPostEditContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(206, 195, 195, 0.879);
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
  }


  .innerPostEditContainer span {
    font-size: 14px;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    color: rgba(0, 0, 0, 0.565);
  }

  .editPostFormButton {
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .editPostFormButton button {
    color: white;
    background-color: rgb(17, 138, 230);
    border-style: none;
    height: 30px;
    border-radius: 30px;
    width: 90px;
    margin-top: 15px;
  }
  .editPostFormButton button:hover {
    box-shadow: rgba(0, 0, 0, 0.11) 1.95px 1.95px 2.6px;;
    background-color: rgb(5, 83, 142);
    cursor: pointer;
  }
