.editPostFormPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    margin-top: 7rem;
    padding: 20px;
    border: 1px solid rgb(206, 195, 195);
    background-color:  white;
    border-radius: 4px;
  }

  .innerEditPostFormPageContainer {
    width: 90%;
    margin: auto;
    height: 90%;
  }

  .editPostFormContainer {
    display: flex;
    padding: 12px;
    margin-top: 5rem;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 50%;
  }

  .editFormTitle {
    font-size: 18px;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    border-bottom: .5 solid cornsilk ;
  }

  .innerPostEditContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(206, 195, 195, 0.879);
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
  }


  .innerPostEditContainer span {
    font-size: 14px;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    color: rgba(0, 0, 0, 0.565);
  }

  .editPostButton {
    font-size: 14px;
    justify-content: center;
    border: 1px solid darkblue;
    border-radius: 9999px;
    width: 80px;
    height: 30px;
    color: #f1f5f7;
    background-color: rgb(0, 121, 211);
    margin-right: 5px;
  }

  .editPostButton:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
  }

  .deletePostButton {
    font-size: 12.5px;
    justify-content: center;
    border: 1px solid darkblue;
    border-radius: 9999px;
    width: 80px;
    height: 30px;
    color: #f1f5f7;
    background-color: rgb(228, 76, 11);
  }

  .deletePostButton:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
  }

  .post-the-edit {
    font-size: 14px;
    justify-content: center;
    border: 1px solid darkblue;
    border-radius: 9999px;
    width: 80px;
    height: 30px;
    color: #f1f5f7;
    background-color: rgb(0, 121, 211);
    margin-right: 5px;
  }

  .post-the-edit:hover {
    box-shadow: rgba(0, 0, 0, 0.11) 1.95px 1.95px 2.6px;;
    background-color: rgb(5, 83, 142);
    cursor: pointer;
  }
