.pageContainer{
  margin-top: 50px;
}

.subr-icon {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-top: 5px;
  margin-left: 5px;
}
.joinToggleSubrandditButton {
  border-radius: 9999px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-family: verdana, sans-serif;
  font-size: 12px;
  justify-content: center;
  color: #c3d9e4;
  border-style: none;
  background-color: rgb(49, 112, 133);
}

.joinToggleSubrandditButton:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: royalblue;
  cursor: pointer;
}

.underneath{
    color: midnightblue;
    font-weight: 600;
}

.subrandditBanner{
  display: flex;
  flex-direction: column;
}

.subrandditBanner > img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.sub-information{
  border: 1px solid royalblue;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  border-radius: 18px;
}
.community{
  font-weight: 600;
  font-family: verdana, sans-serif;
}

.subDescription{
  font-family: verdana, sans-serif;
  padding: 2px;
}

.editing-button:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0.22, 0.23) 1.95px 1.95px 2.6px;
}

.delete-button:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0.22, 0.23) 1.95px 1.95px 2.6px;
}
