.signing-up-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.reaching-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
