a {
  text-decoration: none;
  color: black;
}

.whole-navi {
  display: flex;
  flex-direction: row;
}

.navi-container {
  position: fixed;
  top: 0px;
  background-color: whitesmoke;
  width: 100%;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500px;
  height: 60px;
  border-bottom: 1px solid rgb(177, 161, 161);
}

.right-navi {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  height: 100%;
  position: relative;
}

.logo-div {
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.profile-div-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 6px;
  top: 75px;
  background-color: antiquewhite;
  border-radius: 5px;
  align-items: center;
  height: 150px;
  width: 200px;
  padding: 3px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  object-fit: cover;
}

.icon-gundam {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  object-fit: cover;
}

.menu-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  height: 45px;
  width: 190px;
  padding: 3px;
  font-family: verdana, sans-serif;
}

.menu-profile:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.33) 1.95px 1.95px 2.4px;
}

.menu-shown {
  position: absolute;
  font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
  top: 60px;
  margin-top: 5px;
  right: 20px;
  width: 150px;
  height: 110px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: darkblue;
  margin-left: 12px;
  font-weight: 700;
}

.comming{
  display: flex;
  border: none;
  background-color: white;
  width: 140px;
  padding-left: 2px;
  border-radius: 6px;
}

.comm-out {
  display: flex;
  border: none;
  background-color: white;
  width: 140px;
  padding-left: 2px;
  border-radius: 6px;
}

.comm-out:hover {
  cursor: pointer;
  box-shadow: rgba(36, 52, 111, 0.27) 1px 1px 0.9em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.home-icon {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.img-home {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin-right: 3rem;
  border-radius: 10px;
  height: 45px;
  width: 99px;
  border: 1px solid cornsilk;
}

/* .profile-right-side:hover{
  cursor: pointer;
} */

/* .profile-div-dropdown:hover {
  cursor: pointer;
} */

.profile-below {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.logged-in-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  padding: 15px;
  color: darkblue;
}

.logging-in-right{
  font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 120px;
    height: 23px;
    border-radius: 9999px;
    border-style:none ;
    color: white;
    margin-left: 10px;
    margin-right: 12px;
    background-color: royalblue;
}

.signing-up-right{
  font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 120px;
    height: 23px;
    border-radius: 9999px;
    border: 1px solid royalblue;
    color: darkblue;
    margin-left: 10px;
    margin-right: 12px;
    background-color: white;
}

.logging-in-right:hover{
  box-shadow: rgba(31, 30, 30, 0.15) 1.95px 1.95px 2.4px;;
    background-color: rgb(14, 74, 120);
  cursor: pointer;
}

.signing-up-right:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.4px;
  cursor: pointer;
}
