.post-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.post-each{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 2px solid steelblue;
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
}

.postTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.postTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.post-img{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 4px;
}

.img-pic{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.post-words{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 2px;
}

.editing-button{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    font-size: 15px;
    background-color: aqua;
    margin: 4px;
}

.delete-button{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    font-size: 15px;
    background-color:orange;
    margin: 4px;
}

.postSubrandditName{
    font-weight: 700;
    margin: 1px;
    color: rgb(32, 81, 227);
}

.postSubrandditName:hover{
    cursor: pointer;
    text-decoration: underline;
}

.postUsername{
    font-weight: 600;
    color: rgb(130, 125, 125)
}
